@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
  width: 100%; /* Para que ocupe todo el ancho de la pantalla - banner/footer */
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-content {
  width: 100%;
  height: 10vh;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(3, 59, 53, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-content .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.nav-content .logo .y-logo {
  color: #378980;
}

.nav-content .icon-cart {
  position: relative;
}
.nav-content .icon-cart svg {
  width: 50px;
}

.nav-content .icon-cart span {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
}

/* Search */
/* Buscador */
.search-bar {
  width: 30%;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 9px;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.search-button {
  padding: 11px;
  background-color: #045e55;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #033b35;
}

/* Slider */
.container-carousel {
  width: 1000px;
  height: 350px;
  margin-top: 63px;
  background-color: #e0e0e0;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: relative;
}

.carouseles {
  width: 300%;
  height: 100%;
  display: flex;
}

.slider-section {
  width: calc(100% / 3);
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%; /* Para que pueda centrarlo */
  font-size: 1rem;
  font-weight: 600;
  background-color: #e2dede;
  color: #033b35;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none; /* Para que el usuario no pueda seleccionar ese icono*/
}

.btn-left:hover,
.btn-right:hover {
  color: #ffffff;
  background-color: #457a74;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

/* Main - Lista de productos */
main {
  width: 90%;
  height: auto;
  flex: 1;
  margin: 0 auto;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 40px;
}

/* Tarjetas de productos */
.list-products .product-card {
  width: 280px;
  background-color: #eeeee6;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  border: 1px solid #033b35;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 8px rgba(3, 59, 53, 0.5);
  height: 420px;
  margin: 10px;
}

.list-products .product-card:hover {
  transform: scale(1.02);
}

.list-products .product-card img {
  max-width: 80%;
  max-height: 150px;
}

.list-products .product-card .product-info {
  background-color: #eeeee6;
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
}

.list-products .product-card .product-info h2 {
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.list-products .product-card .product-info .description {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.list-products .product-card .product-info .estrellas {
  width: 60%;
}

.list-products .product-card .product-info .price {
  font-size: 1.3rem;
  font-weight: bold;
}

.list-products .product-card .product-info .add-product {
  background-color: #033b35;
  color: #ffffff;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.list-products .product-card .product-info .add-product:hover {
  background-color: #eeeee6;
  color: #033b35;
  border: 2px solid #033b35;
}

/* Estilos para el botón de la búsqueda */
#volver-busqueda {
  display: inline-block;
  background-color: #033b35;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px 15px;
}

#volver-busqueda:hover {
  background-color: #315f61;
}

#mensaje-no-encontrado {
  text-align: center;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0 5px;
}

/* Estilo para los botones de paginación */
.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #033b35;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #315f61;
  color: #ffffff;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  border: 1px solid #033b35;
  cursor: not-allowed;
}

.pagination i {
  margin: 0;
}

/* Footer */
footer {
  width: 100%;
  height: 8vh;
  text-align: center;
  background-color: #033b35;
  color: #ffffff;
  line-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  z-index: 1;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

/* Carrito */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: none;
}

.cart-table {
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #033b35;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px 15px 15px 15px;
  border-radius: 10px 0 0 10px;
  margin-top: 50px;
  transform: translateX(100%);
  transition: all 0.3s ease ease-in-out;
  z-index: 3;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-header h2 {
  font-size: 1.5rem;
  color: #033b35;
  margin: 0;
}

.cart-header .close {
  background-color: transparent;
  border: none;
  color: #033b35;
  font-size: 1.5rem;
  cursor: pointer;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
  border-bottom: 1px solid #ddd;
}

.cart-header .close:hover {
  color: #ff0000;
}

.cart-table .list-cart {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.cart-table .list-cart .item {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-table .list-cart .item .image img {
  width: 30px;
  height: auto;
}

.cart-table .list-cart .item .name {
  font-size: 0.8rem;
  font-weight: bold;
  white-space: normal; /* Permite que el texto fluya en varias líneas */
  overflow-wrap: break-word; /* Permite que las palabras largas se dividan */
  width: 90px;
}

.cart-table .list-cart .item .total-price {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Botones de cantidad */
.cart-table .list-cart .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.delete-product,
.cart-table .list-cart .quantity button,
.cart-table .list-cart .quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #033b35;
  color: #ffffff;
  cursor: pointer;
  line-height: 25px;
  font-size: 0.8rem;
}

.cart-table .quantity button:hover {
  background-color: #06796d;
}

.cart-table .quantity button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.delete-product {
  color: white;
  background-color: #ff0000;
  border: none;
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 50%;
}

.cart-total {
  font-size: 1.2rem;
  margin: 15px 0;
  text-align: right;
  font-weight: bold;
  color: #033b35;
}

.cart-table .btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cart-table .btn button {
  flex: 1;
  background-color: #033b35;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-table .btn button:hover {
  background-color: transparent;
  color: #033b35;
  border: 2px solid #033b35;
}

.cart-table.show {
  transform: translateX(0);
}

.show-overlay {
  display: block; /* Muestra el overlay */
}

/* Estilos para los botones de sweetalert */
.btn-confirm,
.btn-ok {
  background-color: #033b35;
  color: white;
  border: none;
}

.btn-confirm:hover,
.btn-ok:hover {
  color: #033b35;
  background-color: transparent;
  border: 2.5px solid #033b35;
}

.btn-cancel {
  background-color: #a00;
  color: white;
  border: none;
}

.btn-cancel:hover {
  color: #a00;
  background-color: transparent;
  border: 2.5px solid #a00;
}

/* Responsive */
@media (max-width: 1024px) {
  .banner {
    margin-top: 40px;
    background-image: url('../img/Banner-sit&stile1024.png');
    background-position: center;
  }

  .search-bar {
    margin-top: 350px;
  }

  .search-input {
    width: 60%;
  }

  .cart-table {
    width: 400px;
    margin-top: 75px;
    padding-top: 25px;
  }

  .cart-table .list-cart .item {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .banner {
    background-image: url('../img/Banner-sit&stile600.png');
  }

  .list-products {
    margin-top: 10px;
  }

  .list-products .product-card {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  /* Ajustar el tamaño de la imagen */
  .list-products .product-card img {
    max-height: 200px;
  }

  /* Ajustar el tamaño del texto */
  .list-products .product-card .product-info {
    line-height: 2rem;
  }

  .list-products .product-card .product-info h2 {
    font-size: 2rem;
  }

  .list-products .product-card .product-info .price {
    font-size: 1.5rem;
  }

  /* Ajustar el tamaño del botón */
  .list-products .product-card .product-info .add-product {
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 5px;
  }

  .cart-table {
    width: 100%;
    right: auto;
    left: 0;
    transform: translateX(100%);
  }

  .search-bar {
    margin-top: 200px;
  }

  .search-input {
    width: 70%;
  }
}
