@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
  padding-bottom: 40px;
}

header {
  width: 100%;
  height: 8vh;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(3, 59, 53, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

header .logo .y-logo {
  color: #378980;
}

header .icon-cart {
  position: relative;
}

header .icon-cart svg {
  width: 50px;
}

header .icon-cart span {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
}

/* Section Hero */
.banner {
  height: 45vh;
  background-image: url('./img/banner-sit&stile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

/* Search */
/* Buscador */
.search-bar {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 9px;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 50%;
}

.search-button {
  padding: 11px;
  background-color: #033b35;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #06796d;
}

/* Main - Lista de productos */
main {
  width: 90%;
  height: auto;
  flex: 1;
  margin: 0 auto;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 40px;
}

/* Tarjetas de productos */
.list-products .product-card {
  width: 350px;
  background-color: #eeeee6;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  border: 1px solid #033b35;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 8px rgba(3, 59, 53, 0.5);
  height: 450px;
  margin: 10px;
}

.list-products .product-card:hover {
  transform: scale(1.02);
}

.list-products .product-card img {
  max-width: 100%;
  max-height: 200px;
}

.list-products .product-card .product-info {
  background-color: #eeeee6;
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
}

.list-products .product-card .product-info h2 {
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.list-products .product-card .product-info .description {
  font-family: 'Montserrat', sans-serif;
}

.list-products .product-card .product-info .estrellas {
  width: 60%;
}

.list-products .product-card .product-info .price {
  font-size: 1.5rem;
  font-weight: bold;
}

.list-products .product-card .product-info .add-product {
  background-color: #033b35;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.list-products .product-card .product-info .add-product:hover {
  background-color: #eeeee6;
  color: #033b35;
  border: 2.5px solid #033b35;
}

#volver-busqueda {
  display: inline-block;
  background-color: #033b35;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px 15px;
}

#volver-busqueda:hover {
  background-color: #315f61;
}

#mensaje-no-encontrado {
  text-align: center;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0 5px;
}

/* Estilo para los botones de paginación */
.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #033b35;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #315f61;
  color: #ffffff;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  border: 1px solid #033b35;
  cursor: not-allowed;
}

.pagination i {
  margin: 0;
}

footer {
  width: 100%;
  height: 8vh;
  text-align: center;
  background-color: #033b35;
  color: #ffffff;
  line-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

/* Carrito */
.cart-table {
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #033b35;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px 0 0 10px;
  margin-top: 60px;
  z-index: 2;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-header h2 {
  font-size: 1.5rem;
  color: #033b35;
  margin: 0;
}

.cart-header .close {
  background-color: transparent;
  border: none;
  color: #033b35;
  font-size: 1.5rem;
  cursor: pointer;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
  border-bottom: 1px solid #ddd;
}

.cart-header .close:hover {
  color: #ff0000;
}

.cart-table .list-cart {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.cart-table .list-cart .item {
  display: flex;
  justify-content: center;
  gap: 13px;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-table .list-cart .item .image img {
  width: 40px;
  height: auto;
}

.cart-table .list-cart .item .name {
  font-weight: bold;
}

/* Botones de cantidad */
.cart-table .list-cart .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2px;
}

.delete-product,
.cart-table .list-cart .quantity button,
.cart-table .list-cart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #033b35;
  color: #ffffff;
  cursor: pointer;
  line-height: 25px;
}

.cart-table .quantity button:hover {
  background-color: #06796d;
}

.cart-table .quantity button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.delete-product {
  color: white;
  background-color: red;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 50%;
}

.cart-total {
  font-size: 1.2rem;
  margin: 15px 0;
  text-align: right;
  font-weight: bold;
  color: #033b35;
}

.cart-table .btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cart-table .btn button {
  flex: 1;
  background-color: #033b35;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-table .btn button:hover {
  background-color: #06796d;
}

.cart-table.show {
  transform: translateX(0);
}

/* Responsive */
@media (max-width: 1024px) {
  .banner {
    margin-top: 40px;
    background-image: url('./img/Banner-sit&stile1024.png');
    background-position: center;
  }

  .search-bar {
    margin-top: 350px;
  }

  .search-input {
    width: 60%;
  }

  .cart-table {
    width: 400px;
    margin-top: 75px;
  }

  .cart-table .list-cart .item {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .banner {
    background-image: url('./img/Banner-sit&stile600.png');
  }

  main {
    padding: 0 40px;
  }

  .list-products {
    margin-top: 10px;
  }

  .list-products .product-card {
    width: 100%;
    height: 550px;
    margin-bottom: 20px;
  }

  /* Ajustar el tamaño de la imagen */
  .list-products .product-card img {
    max-height: 300px;
  }

  /* Ajustar el tamaño del texto */
  .list-products .product-card .product-info {
    line-height: 3rem;
  }

  .list-products .product-card .product-info h2 {
    font-size: 2.5rem;
  }

  .list-products .product-card .product-info .price {
    font-size: 2rem;
  }

  /* Ajustar el tamaño del botón */
  .list-products .product-card .product-info .add-product {
    font-size: 1.5rem;
    padding: 12px 40px;
    margin-top: 10px;
  }

  .cart-table {
    width: 100%;
    right: auto;
    left: 0;
    transform: translateX(100%);
  }

  .search-bar {
    margin-top: 300px;
  }

  .search-input {
    width: 70%;
  }
}
